* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
a,
img,
button,
input,
label,
select,
span,
i {
    display: inline-block;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}

body {
    font-family: "Work Sans", sans-serif;
}

.main-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right bottom, red, orange);
}
